
<div class="hero-container">
   <div class="hero-header">
    <div class="hero-logo">
      <img src="images/FinScope-logo.png" alt="FinScope Logo" />
    </div>
    <div class="hero-links">
      <a routerLink="/login" class="btn btn-login">Login</a>
      <a routerLink="/register" class="btn btn-register">Register</a>
    </div>
  </div>

    <img src="images/Office-team.png" alt="Background" class="background-image" />
    <div class="overlay"></div>
    <div class="hero-content">
        <h2>Your Smart Personal Finance Tracker</h2>
        <p>Track expenses, manage savings, and stay in control with FinScope.</p>
        <button routerLink="/login">Start Now</button>
    </div>
</div>